.advantages {
    padding: 70px 95px;
    &__wrapper {
        display: flex;
        margin-top: 65px;
        justify-content: space-between;
    }
    &__block {
        text-align: center;
        margin-right: 65px;
        width: 33%;
        &:last-child {
            margin: 0px auto;
        }
        img {
            height: 70px;
        }
    }
    &__subtitle {
        margin-top: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__text {
        margin-top: 25px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18x;
        a {
            white-space: nowrap;
            color: #FF0000;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite paused;
            &:hover {
                animation-play-state: running;
            }
        }
    }
}
