.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: white;
        outline: none;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots { 
        list-style-type: none;
        text-align: center;
        padding: 0;
            li {
                display: inline-block;
                margin-top: 50px;
                margin-right: 20px;
            }
            button {
                width: 1rem;
                height: 1rem;
                padding: 0;
                border: none;
                border-radius: 100%;
                background-color: black;
                font-size: 0;
            }
            li.slick-active button {
                background-color: $main-color;
                border: none;
            }
        }  
}

