@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno-Regular'),
        url('../fonts/MuseoModerno-Regular.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno-Bold'),
        url('../fonts/MuseoModerno-Bold.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoModerno';
    src: local('MMuseoModerno-Light'),
        url('../fonts/MuseoModerno-Light.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno-Medium'),
        url('../fonts/MuseoModerno-Medium.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

